# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Own stuff
cmake-build-debug/
*.zip
testdummy/
ville/
.idea/
exercise13/numbers.txt
exercise13/123.txt
exercise13/legacy_main.c
exercise13/nums.txt
exercise14/legacy_main.c
exercise15/*.txt
.clang-format
project/Projects_2024.pdf
project/dev/
project/functions/tui*
project/generated_errors.csv
project/*.csv
project/*.bak
